h1{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    
}
.input{
    width: 100%;
    font-size: 25px;
    border: 1px solid black;
}
body{
    background-color:antiquewhite;

}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
 
}
div .submit{
    font-size: 18px;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    
}

 